.container {
  display: flex;
  flex-direction: column;
}

body.dark-theme {
  padding-top: 68px;
  background: #1A237E;
  color: #E0E0E0;
  font-family: "Montserrat", sans-serif;
}
body.dark-theme .container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #1A237E;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
body.dark-theme .container nav:hover {
  background-color: rgb(4, 66, 104);
}
body.dark-theme .container nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
body.dark-theme .container nav ul a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #00BCD4;
  transition: background-color 0.5s ease, color 0.5s ease;
}
body.dark-theme .container nav ul a:hover {
  background-color: rgba(0, 188, 212, 0.2);
  color: #B2EBF2;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}
body.dark-theme footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
body.dark-theme footer a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #00BCD4;
  transition: background-color 0.5s ease, color 0.5s ease;
}
body.dark-theme footer a:hover {
  background-color: rgba(0, 188, 212, 0.2);
  color: #B2EBF2;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.3);
}

body.light-theme {
  background: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
}
body.light-theme .container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
body.light-theme .container nav:hover {
  background-color: beige;
}
body.light-theme .container nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}
body.light-theme .container nav ul a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}
body.light-theme .container nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #666;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}
body.light-theme footer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
body.light-theme footer a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #000;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}
body.light-theme footer a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #666;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.2);
}

#theme-toggle {
  border: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
#theme-toggle i {
  font-size: 1.5em;
  color: #1e1212;
}
#theme-toggle:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  outline: none;
}
#theme-toggle.light-theme {
  background-color: #add8e6;
}
#theme-toggle.light-theme i {
  color: #000;
}
#theme-toggle.light-theme:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.about-me .presentation {
  width: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about-me .presentation:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.about-me img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about-me img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about-me .presentation {
    width: 100%;
    margin-bottom: 20px;
  }
}

.mes-projets {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
