@charset "UTF-8";
.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.transition {
  height: 100vh;
  overflow: hidden;
  transition: height 0.5s ease;
}

.filtres {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.filtres .filter-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  opacity: 0; /* Initial opacity à 0 */
  cursor: pointer;
  box-shadow: 1px 2px 5px;
  transition: background-color 0.3s, color 0.3s, opacity 0.5s ease;
  background-color: #102027;
  color: #FFAB91;
}
.filtres .filter-btn:hover {
  background-color: rgba(255, 171, 145, 0.2);
  color: #FF8A65;
}
body.light-theme .filtres .filter-btn {
  background-color: #FFF3E0;
  color: #5D4037;
}
body.light-theme .filtres .filter-btn:hover {
  background-color: rgba(141, 110, 99, 0.1);
  color: #A1887F;
}

body.dark-theme {
  background: #102027;
  color: #CFD8DC;
  font-family: "Montserrat", sans-serif;
}
body.dark-theme .container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #102027;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body.dark-theme .container nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
body.dark-theme .container nav ul a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #FFAB91;
  transition: background-color 0.5s ease, color 0.5s ease;
}
body.dark-theme .container nav ul a:hover {
  background-color: rgba(255, 171, 145, 0.2);
  color: #FF8A65;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
body.dark-theme .presentation a, body.dark-theme .presentation-projet a, body.dark-theme .projets-listes div a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #FFAB91;
  transition: background-color 0.5s ease, color 0.5s ease;
  margin-bottom: 10px;
}
body.dark-theme .presentation a:hover, body.dark-theme .presentation-projet a:hover, body.dark-theme .projets-listes div a:hover {
  background-color: rgba(255, 171, 145, 0.2);
  color: #FF8A65;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
body.dark-theme footer {
  margin: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
body.dark-theme footer a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #FFAB91;
  transition: background-color 0.5s ease, color 0.5s ease;
}
body.dark-theme footer a:hover {
  background-color: rgba(255, 171, 145, 0.2);
  color: #FF8A65;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

body.light-theme {
  background: #FFF3E0;
  color: #5D4037;
  font-family: "Montserrat", sans-serif;
}
body.light-theme .container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #FFF3E0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body.light-theme .container nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
body.light-theme .container nav ul a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #8D6E63;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}
body.light-theme .container nav ul a:hover {
  background-color: rgba(141, 110, 99, 0.1);
  color: #A1887F;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
body.light-theme footer {
  margin: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
body.light-theme footer a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #8D6E63;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
}
body.light-theme footer a:hover {
  background-color: rgba(141, 110, 99, 0.1);
  color: #A1887F;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
body.light-theme .presentation a, body.light-theme .presentation-projet a, body.light-theme .projets-listes div a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: #8D6E63;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
  margin-bottom: 10px;
}
body.light-theme .presentation a:hover, body.light-theme .presentation-projet a:hover, body.light-theme .projets-listes div a:hover {
  background-color: rgba(141, 110, 99, 0.1);
  color: #A1887F;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#theme-toggle {
  border: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
#theme-toggle i {
  font-size: 1.5em;
  color: #FF6E40;
}
#theme-toggle:hover {
  background: rgba(255, 110, 64, 0.25);
  color: #000;
  outline: none;
}
#theme-toggle.light-theme {
  background-color: #add8e6;
}
#theme-toggle.light-theme i {
  color: #6D4C41;
}
#theme-toggle.light-theme:hover {
  background: rgba(109, 76, 65, 0.2);
  color: #fff;
}

.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin: 10px 30px;
}
.about-me .presentation {
  margin-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.about-me img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 700px) {
  .about-me img {
    align-self: center;
  }
}
@media (max-width: 700px) {
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .about-me .presentation {
    width: 100%;
    margin-bottom: 50px;
  }
}

.mes-projets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}
.mes-projets .presentation-projet {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 30px;
}
.mes-projets .projets-listes {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 20px;
}
@media (min-width: 701px) and (max-width: 900px) {
  .mes-projets .projets-listes {
    grid-template-columns: auto auto;
  }
}
.mes-projets .projets-listes div {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
  padding: 10px;
}
.mes-projets .projets-listes div ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .mes-projets .projets-listes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .mes-projets .projets-listes .presentation {
    width: 100%;
    margin-bottom: 50px;
  }
}
.mes-projets .projets-listes ul {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
