@use 'variables';


//quelque soit le theme nos listes
@mixin list-style{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

//quelque soit le theme nav bar
@mixin nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

//style pour nos liens theme sombre
@mixin dark-link-style{
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color:variables.$dark-theme-link;
  transition: background-color 0.5s ease, color 0.5s ease;
  // box-shadow: 1px 1px 20px ;
  &:hover{
    background-color: variables.$dark-theme-link-hover-bg;
    color: variables.$dark-theme-link-hover;
    box-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.3); // Ajout de l'ombre portée
  }
}

//style pour no liens theme clair

@mixin light-link-style {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  color: variables.$light-theme-link;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
  // box-shadow: 1px 1px 20px ;
  &:hover {
    background-color: variables.$light-theme-link-hover-bg; // Fond au survol
    color: variables.$light-theme-link-hover; // Couleur de texte au survol
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); // Ombre portée plus légère
  }
}

//quand on survole une boite,ou une section sur notre page

//dark mode
@mixin box-hover-dark-mode{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    // &:hover{
    //     background-color: rgb(4, 66, 104);
    // }
}

//light mode
@mixin box-hover-light-mode{
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  // &:hover{
  // background-color: whitesmoke;
  // }
}

//mixin pour disposition de notre footer

@mixin display-footer{
  margin: 0;
  margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

//mixin pour petit ecran 
@mixin query-petit-ecran{
  @media (max-width:700px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .presentation{
      width: 100%;
      margin-bottom: 50px;
    }
}
}
