//font montserrat pour nnotre page
$primary-font:'Montserrat', sans-serif;


// Thème Sombre 
$dark-theme-background: #102027;
$dark-theme-text: #CFD8DC;
$dark-theme-link: #FFAB91;
$dark-theme-link-hover: #FF8A65;
$dark-theme-link-hover-bg: rgba(255, 171, 145, 0.2);
//pour notre icon de changement de theme
$icon-color-dark-theme: #FF6E40;
$icon-hover-background-dark-theme: rgba(255, 110, 64, 0.25);
$icon-hover-color-dark-theme: #000;

// Thème Clair 
$light-theme-background: #FFF3E0;
$light-theme-text: #5D4037;
$light-theme-link: #8D6E63;
$light-theme-link-hover: #A1887F;
$light-theme-link-hover-bg: rgba(141, 110, 99, 0.1);
//theme clair pour notre icon de changement de theme
$icon-color-light-theme: #6D4C41;
$icon-hover-background-light-theme: rgba(109, 76, 65, 0.2);
$icon-hover-color-light-theme: #fff;

