@use 'variables';
@use 'mixins';
@use 'functions';

  //rendre flexible notre boite principale
  .container{
    display: flex;
    flex-direction: column;
}

//notre page en mode sombre
body.dark-theme{
    padding-top:68px;
    background: variables.$dark-theme-background;
    color:variables.$dark-theme-text;
    font-family: variables.$primary-font;
    //barre de navigation pour theme sombre
    .container nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: variables.$dark-theme-background;
        @include mixins.nav-bar; //quelque soit le theme
        @include mixins.box-hover-dark-mode;
        ul{
        @include mixins.list-style; //quelque soit le theme
        width:70%;
        a{
            @include mixins.dark-link-style;
        }
    }
   }
   //footer dark theme
   footer{
    @include mixins.display-footer;
    width: 100%;
    a{
        @include mixins.dark-link-style
    }
   }
  }


  //notre page en mode eclairé
  body.light-theme{
    background: variables.$light-theme-background;
    color: variables.$light-theme-text;
    font-family: variables.$primary-font;
    .container nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: variables.$light-theme-background;
        @include mixins.nav-bar; //quelque soit le theme
        @include mixins.box-hover-light-mode;
        ul{
            @include mixins.list-style; //quelque soit le theme
            width:70%;
            a{
                @include mixins.light-link-style;
            }
        }
       }
       //footer light theme
       footer{
        @include mixins.display-footer;
        width: 100%;
        a{
            @include mixins.light-link-style
        }
       }
}



//le bouton icon pour changer le theme de la page
#theme-toggle {
    // background: transparent; // Fond transparent
    border: none; // Pas de bordure
    cursor: pointer; // Curseur en forme de main
    padding: 0.5em; 
    border-radius: 50%; 
    width: 3rem;
    height: 3rem;

    i { // Styles pour l'icône FontAwesome pour le thème sombre
        font-size: 1.5em; // Taille de l'icône
        color: variables.$icon-color-dark-theme; // Couleur de l'icône pour le thème sombre
    }

    &:hover {
        background: variables.$icon-hover-background-dark-theme; // Fond lors du survol ou du focus pour le thème sombre
        color: variables.$icon-hover-color-dark-theme; // Couleur de l'icône lors du survol pour le thème sombre
        outline: none; // Suppression de l'outline par défaut lors du focus
    }
    
    &.light-theme { // Styles pour le thème clair
        background-color: #add8e6;
        i {
            color: variables.$icon-color-light-theme; // Couleur de l'icône pour le thème clair
        }
        
        &:hover {
            background: variables.$icon-hover-background-light-theme; // Fond lors du survol ou du focus pour le thème clair
            color: variables.$icon-hover-color-light-theme; // Couleur de l'icône lors du survol pour le thème clair
        }
    }
}

//disposition de notre about me
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

