@use 'variables';
@use 'mixins';
@use 'functions';

  //rendre flexible notre boite principale
  .container{
    display: flex;
    flex-direction: column;
}


.navbar {
    visibility: hidden;
    opacity: 0;
    // transition: visibility 0s, opacity 0.5s linear;
}
//notre div invisible au debut pour permettre la remonté de notre page
.transition{
    height: 100vh;
    overflow: hidden;
    transition: height 0.5s ease;
   }

.filtres{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    .filter-btn{
        // display: none;
        padding: 10px;
        border: none;
        border-radius: 5px;
        opacity: 0; /* Initial opacity à 0 */
        cursor: pointer;
        box-shadow: 1px 2px 5px ;
        transition: background-color 0.3s, color 0.3s, opacity 0.5s ease;

         // Style par défaut (thème sombre)
         background-color: variables.$dark-theme-background;
         color: variables.$dark-theme-link;
 
         &:hover {
             background-color: variables.$dark-theme-link-hover-bg;
             color: variables.$dark-theme-link-hover;
         }
 
         // Style pour le thème clair
         body.light-theme & {
             background-color: variables.$light-theme-background;
             color: variables.$light-theme-text;
            //  transition: background-color 0.3s, color 0.3s;
             &:hover {
                 background-color: variables.$light-theme-link-hover-bg;
                 color: variables.$light-theme-link-hover;
             }
         }
    }
}

//notre page en mode sombre
body.dark-theme{
    // padding-top:200px;
    background: variables.$dark-theme-background;
    color:variables.$dark-theme-text;
    font-family: variables.$primary-font;
    //barre de navigation pour theme sombre
    .container nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: variables.$dark-theme-background;

        @include mixins.nav-bar; //quelque soit le theme
        //@include mixins.box-hover-dark-mode;
        ul{
        @include mixins.list-style; //quelque soit le theme
        width:50%;
            a{
                @include mixins.dark-link-style;
            }
          }
   }

   
   .projets-listes div {
    // @include mixins.box-hover-dark-mode;
    position:relative;
    a{
        @include mixins.dark-link-style;
        margin-bottom: 10px;
    }
   }
   //footer dark theme
   footer{
    @include mixins.display-footer;
    width: 100%;
    a{
        @include mixins.dark-link-style;
    }
   }
   

  }


  //notre page en mode eclairé
  body.light-theme{
    // padding-top:200px;
    background: variables.$light-theme-background;
    color: variables.$light-theme-text;
    font-family: variables.$primary-font;
    .container nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: variables.$light-theme-background;
        @include mixins.nav-bar; //quelque soit le theme
        //@include mixins.box-hover-light-mode;
        // @media (max-width:700px) {
        //     width: 90%;
        //     margin-left: 30px;
        //   }
        ul{
            @include mixins.list-style; //quelque soit le theme
            width:50%;
            a{
                @include mixins.light-link-style;
            }
        }
       }
       //footer light theme
       footer{
        @include mixins.display-footer;
        width: 100%;
        a{
            @include mixins.light-link-style
        }
       }
       .presentation,.presentation-projet, .projets-listes div {
        // @include mixins.box-hover-light-mode;
        a{
            @include mixins.light-link-style;
            margin-bottom: 10px;
        }
        
       }
       
}



//le bouton icon pour changer le theme de la page
#theme-toggle {
    // background: transparent; // Fond transparent
    border: none; // Pas de bordure
    cursor: pointer; // Curseur en forme de main
    padding: 0.5em; 
    border-radius: 50%; 
    width: 2rem;
    height: 2rem;

    i { // Styles pour l'icône FontAwesome pour le thème sombre
        font-size: 1.5em; // Taille de l'icône
        color: variables.$icon-color-dark-theme; // Couleur de l'icône pour le thème sombre
    }

    &:hover {
        background: variables.$icon-hover-background-dark-theme; // Fond lors du survol ou du focus pour le thème sombre
        color: variables.$icon-hover-color-dark-theme; // Couleur de l'icône lors du survol pour le thème sombre
        outline: none; // Suppression de l'outline par défaut lors du focus
    }
    
    &.light-theme { // Styles pour le thème clair
        background-color: #add8e6;
        i {
            color: variables.$icon-color-light-theme; // Couleur de l'icône pour le thème clair
        }
        
        &:hover {
            background: variables.$icon-hover-background-light-theme; // Fond lors du survol ou du focus pour le thème clair
            color: variables.$icon-hover-color-light-theme; // Couleur de l'icône lors du survol pour le thème clair
        }
    }
}

//style  de notre about me

.about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:justify;
    margin: 0px 30px;
    .presentation{
        // width: 50%;
        padding: 5px;
        margin-right: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    
        // &:hover {
        //     transform: scale(1.05); // Légère augmentation de taille
        //     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Ombre plus prononcée
        // }
        h1{
            text-align: center;
        }
    }
    //style de notre image
    img {
        // margin-right: 30px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        @media (max-width:700px) {
            align-self: center;;
        }
        // transition: transform 0.3s ease, box-shadow 0.3s ease;
    
        // &:hover {
        //     transform: scale(1.05); // Légère augmentation de taille
        //     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Ombre plus prononcée
        // }
    }
    //pour les ecran de moins de 700px ,aligner verticalement
    @include mixins.query-petit-ecran;
}

.mes-projets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    .presentation-projet{
        // width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin: 10px 30px;
        // &:hover {
        //     transform: scale(1.05); // Légère augmentation de taille
        //     box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Ombre plus prononcée
        // }
    }
    //pour la liste de nos projets,une fois plus de projets penser à utiliser grid
    .projets-listes{

        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        margin-top: 40px;
        @media (min-width:701px) and (max-width:900px) {
            grid-template-columns: auto auto;
        }

        div{
            position: relative;
            // padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            // align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            // margin:30px;
            padding: 10px;
            &:hover {
               transform: scale(1.05); // Légère augmentation de taille
               box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Ombre plus prononcée
            }
            ul{
                @include mixins.list-style;
            }
            a{
                // position: absolute;
                // bottom: 10px;
                margin: 0 30%;
                // margin-top: 50px;
            }
            iframe{
                align-self: center;
            }
           
        }
        @include mixins.query-petit-ecran;
        ul{
            list-style: none;
        }
    }
}
